/* (A) GALLERY CONTAINER */
/* (A1) ON BIG SCREENS */
.gallery {
    display: flex;
    flex-wrap: wrap;
    
    gap: 50px 50px;
    max-width: 1200px;
    margin: 5vh auto 0; /* HORIZONTAL CENTER */
    justify-content: center;
    margin-bottom: 15vh;
    
  }


  
   
  /* (B) THUMBNAILS */
  .gallery img {
    width: 200px;
    height: 100px;
    /* FILL, CONTAIN, COVER, SCALE-DOWN : USE WHICHEVER YOU LIKE */
    object-fit: cover;
    border: solid 1px black;
    
  }
  .gallery img:fullscreen { object-fit: contain; }
   
  /* (X) DOES NOT MATTER */
  body, html {
    padding: 0;
    margin: 0;
  }

  .miniature {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  }

  .groupe1{
    width:50%;
    
   }
   .groupe1 > button{
    margin-left: 15px;
   }

  .groupe2 {
    width:50%;
  }

  .groupe2 > button{
    float : right;
    margin-right: 15px;
  }


 /* Desktop layout */

 @media only screen and ( min-width: 992px) {
   .toolbar{
  display: flex;
  margin: 8vh auto 0;
  margin-left:4%;
  margin-right: 4%;
  border-bottom:1px solid black;
}

 

 }


  /* Mobile layout */
 @media screen and (max-width: 992px) {

   .toolbar{
    display: flex;
    margin: 7vh auto 0;
    margin-left:2%;
    margin-left:2%;
    border-bottom:1px solid black;
  }
}

  .titre{
    min-width: 0;
    max-width: 200px;

    
    white-space: nowrap; 
     
    text-overflow: ellipsis;
    overflow: hidden;
    
  }
