#banner-footer {
    position: fixed;
    bottom:0;
    height: 10vh;
    width: 100vw;
    z-index: 999;
    display: flex;
    padding: 1vh 5vw;
    background-color: var(--couleur-footer);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    font-size: 0.7em;
    
}

@media only screen and ( min-width: 400px) {
    #banner-footer{
        font-size: 1em;
    }   
}

#banner-footer-role{
    color: var(--couleur-police-footer);
}

#banner-footer-file{
    color: var(--couleur-police-footer);
}

#banner-footer-storage{
    color: var(--couleur-police-footer);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 10px;
}

#usedStorageSpace{
    color: var(--couleur-police-usedStorageSpace);
    
    
}

#storageBar{

	background-color:var(--couleur-storageBar);
	width:15%;
	height:1.5vh;
    border-radius:3px;
}

#conteneurStorageBar{

	background-color:var(--couleur-conteneurBar);
	width:45vw;
	height:1.5vh;
    border-radius: 3px;
	
}
