:root {
    /* Couleurs de la charte graphique */
    --upsdell-red: #AF001E;
    --red-pigment: #EB001C;
    --dark-orange: #FF890A;
    --beige: #FFFEE6;
    --uranian-blue: #BDE4FC;
    --spanish-blue: #3671B3;
    --raisin-black: #161920;
    --white:#FFFFFF;
    --black:#000000;
    --bleu-denim:#1560BD;

    /* couleurs par bloc */
    --couleur-police-fond-clair: var(--raisin-black);
    --couleur-police-fond-fonce: var(--beige);
    --couleur-police-footer:var(--white);
    --couleur-police-infoBulle:var(--white);
    --couleur-police-usedStorageSpace:var(--uranian-blue);
    --couleur-storageBar:var(--spanish-blue);
    --couleur-conteneurBar:var(--white);
    --couleur-popup:var(--beige);
    --couleur-infoBulle:var(--red-pigment);
    --couleur-filter-menu:var(--raisin-black);
    --couleur-button-information:var(--beige);
    --couleur-police-filter-menu:var(--white);
    --couleur-separation-filter-menu:var(--uranian-blue);
    --couleur-button-sort-filter-menu:var(--bleu-denim);

    --fond: #D3D3D3;
    --couleur-footer: var(--raisin-black);
}

* {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#banner-footer {
    position: fixed;
    bottom:0;
    height: 10vh;
    width: 100vw;
    z-index: 900;
    display: flex;
    padding: 1vh 5vw;
    background-color: var(--couleur-footer);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
}

#banner-footer-role{
    color: var(--couleur-police-footer);
}

#banner-footer-file{
    color: var(--couleur-police-footer);
}

#banner-footer-storage{
    color: var(--couleur-police-footer);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 10px;
}

#usedStorageSpace{
    color: var(--couleur-police-usedStorageSpace);
    
    
}

#storageBar{

	background-color:var(--couleur-storageBar);
	width:15%;
	height:1.5vh;
    border-radius:3px;
}

#conteneurStorageBar{

	background-color:var(--couleur-conteneurBar);
	width:45vw;
	height:1.5vh;
    border-radius: 3px;
	
}