/* (A) GALLERY CONTAINER */

#containerGallery{

  max-width: 100%;
  margin: 4vh auto 0; 
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  margin-bottom: 15vh;
  position: relative;

}

/* Desktop gallery */


.gallery {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5vh 4vw;
    justify-content: left;
    
  }

  /* (B) THUMBNAILS */
  .gallery .image img, .gallery .video video{
    width: auto;
    height: 150px;
    object-fit: cover;
    border: solid 1px black;
    
  }

  .gallery img:fullscreen { object-fit: contain; }
   
   

  /* (X) DOES NOT MATTER */
  body, html {
    padding: 0;
    margin: 0;
  }

  .miniature {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 248px;
    height: 172px;
    
    
  }

  .groupe1 {
    width:50%;
  }

  .groupe1 > button{
    float : left;
    margin-left: 15px;
    font-size: 1.1em;
  }

   .buttonPopupOptions{
    margin-left: 15px;
    font-size: 1.1em;
    margin-top : 10px
    
   }

  .groupe2 {
    width:50%;
  }

  .groupe2 > button{
    float : right;
    margin-right: 15px;
    font-size: 1.1em;
  }

.miniature .popup-options {

  display: none;
  position: absolute;
  border-radius: 5px;
  width: 10vw;
  height: 20vh;
  min-width: 130px;
  left: 40%;
  top: 10%;
  border: 2px solid black;
  background-color: var(--couleur-popup);
  z-index: 9;
}

.header-popup{
  display: flex;
  gap: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
  border-bottom: 1px solid black;
  
}

#header-popup-options > p{
  margin-top: 1vh;
  
}

#header-popup-options{
  gap: 1.5vh;
  
}

.close-button{
  font-size: 1.5em;
  
}

#header-popup-detail > p{
  margin-top: 1vh;
  
  
}

#body-popup-detail{
  display: flex;
  flex-direction: column;
  max-height: 87%;
  overflow-y: scroll;
}

.body-popup-detail-line > p{

  margin-top: 2vh;
  margin-bottom: 2vh;

}

.detail-para{

  width: 60%;
}

.server-para{
  width:40%;
}

#server-para-modificationDate{
  margin-top : 3.5vh;
}

.server-para-tag {
  padding-left: 1vw;
}



.miniature .popup-detail {
  display: none;
  top: 20%;
  position: absolute;
  border-radius: 5px;
  width: 17em;
  height: 50vh;
  border: 2px solid black;
  background-color: var(--couleur-popup);
  z-index: 950;
}

.server-para-tooltip{
  position : relative;
  display: inline-block;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width:40%;
  
}

.server-para-tooltip .tooltiptext{
  visibility: hidden;
  width: 20vw;
  height: 15vh;
  background-color: var(--couleur-infoBulle);
  color: var(--couleur-police-infoBulle);
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;
  bottom: 100%;
  left:10%;
  margin-left: -11vw;

  overflow-y:scroll;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
}

.tooltiptext > p{
  margin-left: 1em;
}

.server-para-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.toolbar{
display: flex;
margin: 7vh 2vw 0;
border-bottom:1px solid black;
}


.titre {
  min-width: 0;
  max-width: 200px;
  display: inline-flex;
  column-gap: 1.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/*Popup option multipleFiles*/
#popup-options-multipleFiles{
  display: none;
  flex-direction: column;
  position:fixed;
  border-radius: 5px;
  width: 10em;
  height: 27vh;
  min-width: 130px;
  overflow-y: scroll;
  overflow-x: visible;
  left: 40%;
  top: 10%;
  border: 2px solid black;
  background-color: var(--couleur-popup);
  z-index: 9;
  }

  #header-popup-options-MultipleFiles > p {
    margin-top: 1vh;
  }

  .body-popup-options > p{
    margin-left: 15px;
    font-size: 1.1em;
    margin-top: 10px;
  }

  .body-popup-detail-line {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}

#popup-detail-line-tags {
  display: inline-flex;
  gap: 0.3em;
  width: 62%;
}

@media only screen and ( min-width: 992px) {
  .gallery {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 5vh 4vw;
      justify-content: left;
      
    }
  
  .toolbar{
    font-size: 1em;
  }
  
  .button-information{
        display: none;
    }
  }

  @media only screen and ( max-width: 992px) {
  .gallery {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 5vh 4vw;
      justify-content: center;
      
    }

  .toolbar{
    font-size: 0.6em;
  }

  .miniature{
    margin-right: 2em;
  }
  }

  .button-information{
    background-color: var(--couleur-button-information);
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    width: 1.5em;
    
  }