

article {
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    margin : 2em 0;
    width: 70vw;
    
}

h4 {
    font-size: 1.25em;


}

table tr {
   
}

table td {
    margin: 0 2vw;
}

@media only screen and ( max-width: 750px) {
    table tr {
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}