article {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

h4 {
	margin: 0 12vw;
	font-size:1.7em;
	font-weight: 100;
	border-bottom:1px solid black;
}

table {
    margin: 3em 0;
    width: 100vw;
}

table tr:nth-child(odd) {
	background-color: #f2f2f2;
}

table tr {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 1em 10%;
	font-size: 1em;
}

table td {
	padding: 0.3em 0.5em;
}

table .date {
    width: 10em;
}

table .hour {
    width: 8em;
}

@media only screen and ( max-width: 850px) {
    table .email {
        width: 100%;
    }
}

@media only screen and (min-width: 850px) and (max-width: 1100px) {
    table .message {
        width: 100%;
    }
}

@media only screen and (min-width: 1100px) {
    table .email {
        width: 30%;
    }
}