/* (A) GALLERY CONTAINER */

#containerGallery{

  max-width: 100%;
  margin: 4vh auto 0; 
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  margin-bottom: 15vh;

}

/* Desktop gallery */


.gallery {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5vh 4vw;
    justify-content: left;
    
  }

  /* (B) THUMBNAILS */
  .gallery .image img {
    width: 100%;
    height: 100%;
    /* FILL, CONTAIN, COVER, SCALE-DOWN : USE WHICHEVER YOU LIKE */
    object-fit: cover;
    border: solid 1px black;
    
  }

  .gallery .image{
    width: 248px;
    height: 150px;
  }

  .gallery img:fullscreen { object-fit: contain; }
   
  /* (X) DOES NOT MATTER */
  body, html {
    padding: 0;
    margin: 0;
  }

  .miniature {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 248px;
    height: 172px;
    
    
  }

  .groupe1{
    display: inline-flex;
    flex-direction: row;
    width:50%;
    
   }
   .buttonHomePage{
    margin-left: 15px;
    font-size: 1.1em;
    
   }

   .buttonPopupOptions{
    margin-left: 15px;
    font-size: 1.1em;
    margin-top : 10px
    
   }

  .groupe2 {
    width:50%;
  }

  .groupe2 > button{
    float : right;
    margin-right: 15px;
    font-size: 1.1em;
  }




 #popup-upload {

  display: none;
  position: fixed;
  border-radius: 5px;
  width: 25vw;
  height: 50vh;
  min-width: 200px;
  max-width:400px;
  max-height: 300px;
  left: 40%;
  top: 10%;
  transform: translate(-55%, 5%);
  border: 2px solid black;
  background-color: var(--couleur-popup);
  z-index: 9;
}

.miniature .popup-options {

  display: none;
  position: absolute;
  border-radius: 5px;
  width: 10vw;
  height: 20vh;
  min-width: 130px;
  left: 40%;
  top: 10%;
  border: 2px solid black;
  background-color: var(--couleur-popup);
  z-index: 9;
}

.header-popup{
  display: flex;
  gap: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
  border-bottom: 1px solid black;
  
}

#header-popup-options > p{
  margin-top: 1vh;
  
}

#header-popup-options{
  gap: 1.5vh;
  
}

.close-button{
  font-size: 1.5em;
  
}

#body-popup-upload{
  max-height: 87%;
  overflow-y: scroll;
  margin-left: 1vw;
}

#body-popup-upload > div{
  margin-bottom: 2vh;
}

#body-popup-upload-ready{
  margin-top: 2vh;
  text-decoration: underline;
  font-style: italic;

}

#header-popup-upload > p{
  margin-top: 1vh;
  
  
}

#header-popup-detail > p{
  margin-top: 1vh;
  
  
}

#body-popup-detail{
  display: flex;
  flex-direction: column;
  max-height: 87%;
  overflow-y: scroll;
}

.body-popup-detail-line{

  display: flex;
  flex-direction: row;
  column-gap: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.178);

}

.body-popup-detail-line > p{

  margin-top: 2vh;
  margin-bottom: 2vh;

}

.detail-para{

  width: 60%;
}

.server-para{
  width:40%;
}

#server-para-modificationDate{
  margin-top : 3.5vh;
}




.miniature .popup-detail {

  display: none;
  top:20%;
  position:absolute;
  border-radius: 5px;
  width: 30vw;
  height: 50vh;
  min-width: 320px;
  max-width: 320px;
  max-height: 800px;
  border: 2px solid black;
  background-color: var(--couleur-popup);
  z-index: 950;
  
}

.server-para-tooltip{
  position : relative;
  display: inline-block;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width:40%;
  
}

.server-para-tooltip .tooltiptext{
  visibility: hidden;
  width: 20vw;
  height: 15vh;
  background-color: var(--couleur-infoBulle);
  color: var(--couleur-police-infoBulle);
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;
  bottom: 100%;
  left:10%;
  margin-left: -11vw; /* Use half of the width (120/2 = 60), to center the tooltip */

  overflow-y:scroll;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
}

.tooltiptext > p{
  margin-left: 1em;
}

.server-para-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.toolbar{
display: flex;
margin: 7vh 2vw 0;
border-bottom:1px solid black;
}


.titre{
  min-width: 0;
  max-width: 200px;

  
  white-space: nowrap; 
    
  text-overflow: ellipsis;
  overflow: hidden;
  
}

#pickfiles{
  border: 0;
  background-color: inherit;
  
}

.server-para-tag{
  padding-left: 1vw;
}

#buttonHomePage-filters{
  position: relative;
}

#buttonHomePage-filters #popup-filter-menu{
  visibility:hidden;
  position: absolute;

  top: -5px;
  left: 105%;
  margin-left: 2vw; /* Use half of the width (120/2 = 60), to center the tooltip */
  border-radius: 6px;
  width: 20vw;
  height: 50vh;
  min-width: 14em;
  max-width: 14em;
  max-height: 20em;
  overflow-y: scroll;
  background-color: var(--couleur-filter-menu);
  color : var(--couleur-police-filter-menu);
  z-index: 2000;
}

.filter-menu-title{

  margin-top: 1em;
  margin-right: 1.6em;
  margin-left: 1em;
  
}

.button-add-filter-menu-tags{
  color:var(--couleur-police-filter-menu);
}

#filter-menu-tags-title{
  padding-bottom:0em;
}

#filter-menu-tags-title{
  padding-bottom:0em;
  border-bottom:0px;
}



#button-filter-menu-tags{
  display: inline-flex;
  width: 100%;
  margin-left: 0.5em;
  margin-bottom: 0.3em;
  border-bottom: 1.5px solid var(--couleur-separation-filter-menu);
}

.filter-menu-body{
  margin-left: 1.5em;
  margin-right: 1em;

}

.filter-menu-title-separation{
  width: 100%;
  margin-left: 0.5em;
  margin-top: 0.8em;
  margin-bottom: 0.3em;
  border-bottom: 1.5px solid var(--couleur-separation-filter-menu);
}

#button-filter-menu-sort{
  color:var(--couleur-police-filter-menu);
  display: block;
  margin:auto;
  margin-top: 1.5em;
  margin-bottom: 1em;
  border-radius: 5px;
  background-color: var(--couleur-button-sort-filter-menu);
  width: 6em;
  height: 1.5em;

  
}

#button-filter-menu-add-category{
  width: 50%;
  text-align: right;
}

#button-filter-menu-add-tag{
  width: 50%;
  text-align: left;
}

/* Mobile gallery */

/* Dropdown Button */
.categoryName-dropdown {
  
  color: white;
  font-size: 0.8em;
  transform:translate(0,-0.6em);
  border: none;
  cursor: pointer;
  text-align: left;
  width: 90%;
}

/* Dropdown button on hover & focus */
.categoryName-dropdown:hover {
  background-color:rgba(255, 255, 255, 0.700);
}

#filter-menu-extensions-body{
  display:inline-flex;
  flex-wrap: wrap;
  row-gap:1em;
  width: 79%;
  margin-left: 1.5em;
  padding-top: 0.4em;

}

.filter-menu-element-extension > p{
  color:var(--couleur-police-filter-menu);
  font-size: 0.8em;
  text-decoration: none;

}

.filter-menu-element-extension{
  width:50%;
}

.filter-menu-line-author > p{
  color:var(--couleur-police-filter-menu);
  font-size: 0.8em;
  text-decoration: none;

}

#filter-menu-author-body{
  padding-top: 0.4em;

}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  flex-direction: column;
  position:relative;
  background-color: var(--couleur-filter-menu);
  min-width: 160px;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: var(--couleur-police-filter-menu);
  font-size: 0.8em;
  text-decoration: none;
  width:90%;
  display: block;
}



.delete-categoryName-filter-menu{
  color: var(--couleur-police-filter-menu);
  width:10%;
  font-size: 1.4em;
}

.delete-tagName-filter-menu{
  color: var(--couleur-police-filter-menu);
  width: 10%;
  font-size: 1.4em;
}

.filter-menu-line-tag{
  display: inline-flex;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:inline-flex;
  flex-wrap: nowrap;
  width:100%;
}
