/* Mobile layout */

@media only screen and ( max-width: 992px) {
    /* Css for profil page */
    #profil {
        height: 93vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Section information du profil */

    #profile-information{
        margin: 2vh;
        width: 20em;
    }

    #profile-information h3 {
        font-size: 2.2em;
        margin: 1vh 6vw;
    }

    #profile-information h3 + p {
        text-align: end;
        font-size: 1.2em;
        margin: 2vh 10vw;
    }

    #profile-information > div {
        padding: 1em 1.7em;
        background-color: var(--couleur-fond-users);
        color: var(--couleur-police-fond-clair);
        border-radius: 10px;
    }

    #profile-information div span {
        margin-bottom: 1.2em;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    #profile-information button {
        font-size: 0.8em;
        margin-left: 1em;
    }

    #profile-information div p {
        margin-top: 1vh;
        font-weight: 800;
    }

    /* Section changer de mot de passe */

    #change-password-section form {
        margin: 2vh;
        width: 20em;
        display: flex;
        flex-direction: column;
        padding: 0 1.7em 2em;
        background-color: var(--couleur-fond-users);
        color: var(--couleur-police-fond-clair);
        border-radius: 10px;
    }

    #change-password-section div {
        margin: 1em 0 0;
        display: flex;
        flex-direction: column;
        font-size: 1em;
        font-weight: lighter;
    }

    #change-password-section div input {
        margin-top: 1em;
    }

    #change-password-section button {
        position: relative;
        top: 1.5em;
        left: 5.5em;
        height: 3em;
        width: 8em;
        color: var(--couleur-police-fond-fonce);
        background-color: var(--couleur-button);
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    }
}


/* Desktop layout */

@media only screen and ( min-width: 992px) {
    /* Css for profil page */
    #profil {
        flex-direction: row;
    }
}
