/* Mobile layout */

#profile {
    margin-top: 7vh;
    min-height: 93vh;
    display: flex;
}

#profile-information > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    background-color: var(--couleur-fond-users);
    color: var(--couleur-police-fond-clair);
    border-radius: 10px;
}

#profile-information form button {
    margin: 0.5em;
}

#profile-information form textarea {
    width: 95%;
    height: 7em;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    resize: none;
}

/* Section changer les droits */

#rights-section h3::after {
    display: block;
    height: 0.05em;
    width: 100%;
    background-color: var(--couleur-police-fond-clair);
    content: '';
    transform: translateY(0.4em);
}

#rights-section div div {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#rights-section h4 {
    width: 100%;
}
/* #rights-section h4::after {
    display: block;
    height: 0.01em;
    width: 70%;
    background-color: var(--couleur-police-fond-clair);
    transform: translateY(0.1em);
    content: '';
} */

#rights-section div div span,
#rights-section div button {
    margin: 0.5em;
    padding-right: 1em;
    height: 2em;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background-color: var(--raisin-black);
    color: var(--couleur-police-fond-fonce);
    font-size: 0.8em;
}

#rights-section span input{
    margin: 1em;
}

#profile-information button,
#rights-section button {
    margin: 0.1em;
    height: 3em;
    width: 8em;
    color: var(--couleur-police-fond-fonce);
    background-color: var(--couleur-button);
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


@media only screen and ( max-width: 992px) {
    /* Css for profil page */
    #profile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Section information du profil */

    #profile-information {
        margin: 2vh;
        width: 80vw;
    }

    #profile-information h3 {
        font-size: 3em;
        margin: 1vh 6vw;
    }

    #profile-information .role {
        font-size: 1.4em;
        font-weight: 900;
        margin: 2vh 15vw;
    }

    #profile-information .date {
        margin: 4vh 6vw;
        font-size: 1.3em;
        font-weight: 900;
    }

    /* Section changer les droits */

    #rights-section form {
        margin: 2vh;
        padding: 2vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--couleur-fond-users);
        color: var(--couleur-police-fond-clair);
        border-radius: 10px;
    }

    #rights-section div {
        width: 90%;
        margin: 0.5em 0;
        display: flex;
        flex-direction: column;
        font-size: 1em;
        font-weight: lighter;
    }
}


/* Desktop layout */

@media only screen and ( min-width: 992px) {
    /* Css for profil page */
    #profile {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #profile-information {
        width: 40vw;
        margin: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #profile-information h3 {
        font-size: 3.5em;
        margin-left: 2vw;
    }

    #profile-information .role {
        margin: 2vh 4vw;
        font-size: 1.4em;
        font-weight: 900;
    }

    #profile-information .date {
        margin: 4vh 0;
        font-size: 1.3em;
        font-weight: 900;
        margin-left: 2vw;
    }

    /* Section changer les droits */

    #rights-section form {
        width: 30vw;
        padding: 0.5em 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--couleur-fond-users);
        color: var(--couleur-police-fond-clair);
        border-radius: 10px;
    }

    #rights-section div {
        width: 100%;
        margin: 2vh 0 ;
        display: flex;
        flex-direction: column;
        font-size: 1.1em;
        font-weight: lighter;
    }
}
