article {
	margin: 7vh 0 0;
}

.toolbar{
	margin: 2vw;
}
  
h2 {
	font-size:1.7em;
	font-weight: 100;
	border-bottom:1px solid black;
}

.groupe2 {
   display: flex;
   margin: 1em 4vw;
   justify-content: space-between;
}

.groupe2 *{
	font-family: 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.3em;
}

 
  