<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <!-- Metadata -->
  <title>Site test - Drive LBR</title>
  <meta name="author" content="Célestin Captal, Maxime Herbin, Dorian Larouziere, Gatien Vilain">
  <!-- Page Layout-->
  <meta name="theme-color" content="white">
  <meta name="color-scheme" content="normal">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Style Sheets -->
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>

<!-- Composants login -->

<article id="login">

  <form action="" method="post">
    <div id="login-email">
      <label for="champ-email">Entrer votre adresse email : </label>
      <input type="email" name="email" id="champ-email" required>
    </div>
    <div id="login-password">
      <label for="champ-password">Entrer votre mot de passe : </label>
      <input type="password" name="password" id="champ-password" required>
      <a title="Accéder à la page pour réinitialiser votre mot de passe" href="">Mot de passe oublié</a>
    </div>
    <div id="login-checkbox">
      <label for="checkbox">Rester connecté </label>
      <input type="checkbox" name="remember" id="checkbox" required>
    </div>
    <Button type="submit">S’authentifier</button>
  </form>

</article>